:host {
    display: flex;
    flex-flow: column;
    height: 100%;

    mat-toolbar {
        flex: 0 1 auto;
    }

    mat-sidenav-container {
        flex: 1 1 auto;

        mat-sidenav {
            width: 280px;
        }

        mat-sidenav-content {
            display: block;
            max-width: 680px;
            margin: 0 auto;
        }
    }
}