:host {
    mat-sidenav-container {
        height: 100%;

        .drawer {
            width: 280px;
            max-width: 90vw;
        }

        mat-sidenav-content {
            display: flex;
            flex-flow: column;

            mat-toolbar {
                padding: 8px;
                flex: 0 1 auto;

                .title {
                    margin: 0 0 0 16px;
                }
            }

            .content {
                width: 100%;
                flex: 1 1 auto;
                justify-content: center;
                display: flex;
                flex-flow: row;
            }

            .left {
                width: 280px;
            }

            .center {
                width: 100%;
                max-width: 680px;
            }

            .right {
                width: 280px;
            }
        }
    }
}
