<mat-sidenav-container hasBackdrop (backdropClick)="toggleMenu()">
    <mat-sidenav [opened]="sideMenuOpened" mode="over" *ngIf="hasNavigationDrawer" class="left-side">
        <app-navigation></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z2">
            <button mat-icon-button (click)="toggleMenu()" *ngIf="hasNavigationDrawer">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="mat-display-1 title" [routerLink]="['']">Notes</span>
        </mat-toolbar>
        <div class="content">
            <div class="left" *ngIf="!hasNavigationDrawer">
                <app-navigation></app-navigation>
            </div>
            <div class="center">
                <router-outlet></router-outlet>
            </div>
            <div class="right" *ngIf="!hasContentsDrawer">
                <app-contents></app-contents>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>