$primary-color: (
    50: #e0fbfc,
    200: #98c1d9,
    500: #3d435b,
    900: #293241,
    contrast: (
        50: #293241,
        200: #293241,
        500: #e0fbfc,
        900: #e0fbfc,
    ),
);

$accent-color: (
    500: #ee6c4d,
    contrast: (
        500: #293241,
    ),
);