@use "~@angular/material/theming";

@mixin global-styles($theme) {
    $primary: theming.mat-color(map-get($theme, primary));
    $primary-darker: theming.mat-color(map-get($theme, primary), darker);
    $accent: theming.mat-color(map-get($theme, accent));

    a,
    a:visited,
    a:hover,
    a:focus {
        text-decoration: none;
        color: $accent;
    }

    table,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid $primary-darker;
        padding: 7px;
        margin-bottom: 12px;
    }

    blockquote {
        border-left: 3px solid $primary-darker;
        padding-left: 7px;
    }

    hr {
        border: 1px solid $primary-darker;
    }

    article {
        padding: 16px;
    }
}
